<ion-content>
  <div class="login-page">
    <div class="login-container">
      <h1 class="title">Iniciar sesión</h1>

      <div class="quick-login-buttons">
        <ion-button expand="block" (click)="completeUser('admin@admin.com','111111')" class="quick-login-btn">
          <img src="../../../assets/users/user1.png" alt="Admin">
        </ion-button>
        <ion-button expand="block" (click)="completeUser('invitado@invitado.com','222222')" class="quick-login-btn">
          <img src="../../../assets/users/user2.png" alt="Invitado">
        </ion-button>
        <ion-button expand="block" (click)="completeUser('usuario@usuario.com','333333')" class="quick-login-btn">
          <img src="../../../assets/users/user3.png" alt="Usuario">
        </ion-button>
        <ion-button expand="block" (click)="completeUser('anonimo@anonimo.com','444444')" class="quick-login-btn">
          <img src="../../../assets/users/user4.png" alt="Anónimo">
        </ion-button>
        <ion-button expand="block" (click)="completeUser('tester@tester.com','555555')" class="quick-login-btn">
          <img src="../../../assets/users/user5.png" alt="Tester">
        </ion-button>
      </div>

      <form [formGroup]="formUser" (ngSubmit)="login()">
        <ion-item>

          <ion-input  
            style="--background: transparent; --border-color: transparent; " 
            label="Correo electrónico" 
            label-placement="floating" 
            fill="solid" 
            placeholder="Ingresar ..." 
            formControlName="email">
          </ion-input>

        </ion-item>
        @if (formUser.get('email')?.hasError('required')) {
          <div class="validation-message" [hidden]="formUser.get('email')?.pristine">El correo electrónico es requerido</div>
        }
        @else if (formUser.get('email')?.hasError('email')) {
          <div class="validation-message" [hidden]="formUser.get('email')?.pristine">Formato invalido del email</div>
        }

        <ion-item>

          <ion-input  
            style="--background: transparent; --border-color: transparent; " 
            type="password"
            label="Contraseña" 
            label-placement="floating" 
            fill="solid" 
            placeholder="Ingresar ..." 
            formControlName="password"
            (input)="handleVisibilityIcon($event)">
            @if (showVisibilityIcon) {
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            }
          </ion-input>

        </ion-item>
        @if (formUser.get('password')?.hasError('required')) {
          <div class="validation-message" [hidden]="formUser.get('password')?.pristine">La contraseña es requerida</div>
        }

        <ion-button type="submit" expand="block" class="login-button" [disabled]="formUser.invalid">Ingresar</ion-button>
      </form>

    </div>
  </div>

  <app-spinner [isLoading]="isLoading"></app-spinner>

</ion-content>