.btn-logout
{
    position: absolute;
    left: 5px;
    top: 5px;
    --background: black;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px;
}
.btn-logout h1{
    font-size: 7px;
    padding: 0px;
    margin: 0px;
    color: white;
}




ion-title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

ion-toolbar{
    --background: #1f1f1f !important;
    --color: rgb(127 255 125);
}