ion-title{
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.btn-logout
{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  --background: transparent;
  --box-shadow: none;
}

ion-icon{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

ion-toolbar{
    --background: #ffffff !important;
    color: #000000;
}