.btn-logout {
    width: 100px;
    --background: #3b3a38c7;
    --box-shadow: none;
    white-space: nowrap;
    --border-radius: 15px;
    margin-right: 10px;
  }
  
  h2 {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  ion-icon {
    color: white;
    font-size: 20px;
  }
  
  ion-toolbar{
    --background: #1f1f1f !important;
  }
  
  ion-button{

    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
  .active-link {
    background-color: #3a3a3a; 
    color: #ffd700 !important; 
  }

  
.btn-back{
    width: 35px;
    --background: #000000ed;
    --border-radius: 24px;
    margin-left: 5px;
    margin-top: 10px;
    position: fixed;
    z-index: 999;
  }

  
  ion-menu{
    --background: #1f1f1f !important;
  }

  ion-menu ion-content{
    --background: #1f1f1f !important;
  }
  ion-list {
    --background: #1f1f1f !important; 
    padding: 0;
  }
  
  ion-item {
    --background: #1f1f1f !important;
    color: white; 
  }