<ion-header>
    <ion-toolbar>
   
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
    
      <h2 style="margin-left: 20px;" slot="start">{{auth.nameUser}}</h2>
  
      <ion-button slot="end" class="btn-logout" expand="block" (click)="logOut()">
        <h2 slot="end">Salir</h2> 
        <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
</ion-header>
  
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content >
      <ion-list style="height: 100%; background-color: #1f1f1f;" >
        <ion-item style="background-color: #1f1f1f;" routerLink="/home/" routerLinkActive="active-link" (click)="closeMenu()" [routerLinkActiveOptions]="{ exact: true }" >
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
  
        <ion-item style="background-color: #1f1f1f;" routerLink="statistics" routerLinkActive="active-link" (click)="closeMenu()"  [routerLinkActiveOptions]="{ exact: true }" >
          <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
          <ion-label>Estadísticas</ion-label>
        </ion-item>
  
        <ion-item  style="background-color: #1f1f1f;" routerLink="user-photos" routerLinkActive="active-link" (click)="closeMenu()"  [routerLinkActiveOptions]="{ exact: true }" >
          <ion-icon slot="start" name="image-outline"></ion-icon>
          <ion-label>Mis Fotos</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  

    <ion-router-outlet></ion-router-outlet>