// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
ion-app{
    --ion-background-color: linear-gradient(to bottom, #c7d5d6, #abd1d4, #8dccd2, #68c7d0, #31c2cf);
  }


ion-toolbar {
  --background: #00bcd4; 
    --color: white; 
  }
  
  ion-title {
    color: white;
    font-weight: 900;
    text-align: center;
  }


  .swal2-popup.swal2-toast .swal2-title{
    font-weight: normal  ;

  }

  html, body {
    overflow: hidden !important; 
    height: 100% !important; 
  }